.containerwork {
    display: flex;
    justify-content: center;
  }
  
  .containerwork .item {
    position: relative;
    margin: 5px;
  }
  
  .containerwork .item img {
    height: 100%;
    width: 600px; /* ajuste conforme necessário */
  }
  
  .containerwork .text-overlay h1 {
    font-size: 35px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adiciona sombra ao texto */
  }
  .containerwork .text-overlay p{
    font-size: 20px;
    margin: 30px;
    color: #aaa;
  }
  .containerwork .text-overlay button{
 margin: 10px;
  }
  .containerwork .overlay1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(15 16 19 / 84%);
    opacity: 0; /* Inicialmente invisível */
    transition: opacity 0.5s, height 0.5s; /* Adicionada transição para altura */
    height: 0; /* Começa com altura zero */
  }
  
  .itensoverlay {
    justify-content: left;
    display: flex;
  }
  
  .containerwork .item:hover .overlay1,
  .containerwork .item:hover .text-overlay {
    cursor: pointer;
    opacity: 1; /* Torna visível apenas no hover */
    height: 100%; /* Expande para cobrir a imagem */
  }
  
  .containerwork .text-overlay {
    justify-content: end;
    position: absolute;
    top: 60%;
    left: 50%;
    width: 400px;
    font-weight: bold;
    text-align: center;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
    opacity: 0; /* Inicialmente invisível */
    transition: opacity 0.5s, height 0.5s; /* Adicionada transição para altura */
    height: 0; /* Começa com altura zero */
  }
  
  .containerwork .overlay1 p,
  .containerwork .overlay1 button {
    justify-content: end;
    position: absolute;
    top: 83%;
    left: 20%;
    font-weight: bold;
    text-align: left;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .containerwork .overlay1 p {
    margin-bottom: 20px; /* Espaçamento inferior para o botão */
  }
  
  .button1 {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #0f1923;
    cursor: pointer;
    position: relative;
    padding: 8px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all .15s ease;
  }
  
  .button1::before,
  .button1::after {
    content: '';
    cursor: pointer;
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid #ffffff;
    transition: all .15s ease;
  }
  
  .button1::before {
    top: 0;
    cursor: pointer;
    border-bottom-width: 0;
  }
  
  .button1::after {
    bottom: 0;
    cursor: pointer;
    border-top-width: 0;
  }
  
  .button1:active,
  .button1:focus {
    outline: none;
  }
  
  .button1 i {
    font-size: 25px;
    color: #11ff1d;
    margin-left: 15px;
  }
  
  .button1:active::before,
  .button1:active::after {
    right: 3px;
    left: 3px;
    cursor: pointer;
  }
  
  .button1:active::before {
    top: 3px;
  }
  
  .button1:active::after {
    bottom: 3px;
  }
  
  .button_lg {
    position: relative;
    display: block;
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
    background-color: #0f1923;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px transparent;
  }
  
  .button_lg::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 2px;
    height: 2px;
    background-color: #0f1923;
  }
  
  .button_lg::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: #0f1923;
    transition: all .2s ease;
  }
  
  .button_sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    cursor: pointer;
    background-color: #3cc7fa;
    transform: skew(-15deg);
    transition: all .2s ease;
  }
  
  .button_text {
    position: relative;
  }
  
  .button1:hover {
    cursor: pointer;
    color: #0f1923;
  }
  
  .button1:hover .button_sl {
    width: calc(100% + 15px);
  }
  
  .button1:hover .button_lg::after {
    background-color: #fff;
  }
  
  .containerwork .overlay2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(15 16 19 / 84%);
    opacity: 0; /* Inicialmente invisível */
    transition: opacity 0.5s, height 0.5s; /* Adicionada transição para altura */
    height: 0; /* Começa com altura zero */
  }
  
  .itensoverlay {
    justify-content: left;
    display: flex;
  }
  
  .containerwork .item:hover .overlay2 {
    cursor: pointer;
    opacity: 1; /* Torna visível apenas no hover */
    height: 100%; /* Expande para cobrir a imagem */
  }
  .filter-container {
    text-align: center;
    display: ruby;
    top: 10%;
    margin-top: 200px;
    top: 1;
}
.filter-btn {
    background-color: #fff;
    border: none;
    color: #0f1013;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 50px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.filter-btn:hover {
    background-color: #0f1013;
    color: #fff;
}

.filter-btn.active {
  background-color: #007bff;
  color: white;
}
.filter-btn:focus {
    outline: none;
    color: #fff;
    background-color: #303135;
}
  .containerwork .overlay2 p,
  .containerwork .overlay2 button {
    justify-content: end;
    position: absolute;
    top: 83%;
    left: 20%;
    font-weight: bold;
    text-align: left;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .containerwork .overlay2 p {
    margin-bottom: 20px; /* Espaçamento inferior para o botão */
  }
  
  .division img {
    width: 100%;
  }
  
  .cubos img {
    height: 200px;
    position: absolute;
    z-index: 2;
  }
  
  #cubo1 {
    padding-top: -20;
    height: 300px;
    right: 0;
  }
  
  #cubo2 {
    padding-top: -20;
    height: 300px;
    left: 0;
  }
  
  .cotacao-div {
    margin-top: 5%;
    text-align: center;
    justify-content: center;
  }
  
  .cotacao-div p {
    font-size: 25px;
  }
  
  .cotacao-div .cotacao {
    background-color: #3cc7fa;
    padding: 25px;
    border-radius: 2px;
    color: #fff;
    width: 350px;
    font-size: 20px;
    border: none;
    font-weight: bold;
  }
  .portifolio {
    display: none;
}
.active {
    display: block;
} .container-flex {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap; /* Evita que as divs quebrem para outra linha */
  gap: 10px; /* Espaçamento entre as divs dentro do flex container */
}

#text-portifolio{
 color: #ffffff;
}
#text-portifolio h2{
  color: #3cc7fa;
}
.container-flex {
  display: flex;
}
.half-width {
  height: 200VH;
  width: 100%;
  padding: 20px;
}
.images-container {
  position: relative;
  overflow: hidden;
  /* height: auto; */
}
.images-trafego video {
  width: 100%;
  display: block;
}

.images-trafego {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.images-site video {
  width: 100%;
  display: block;
}
.video-works img{
  width: 100%;
  margin-top: 100px;
}

.image-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.image-container img {
  width: 450px;
  margin: 50px;
  height: 500px;
  object-fit: cover;
}
.containerhf {
  width: 50%;
  border-radius: 5px;
  height: 100%;
  padding: 50px;
  background-color: #aba811;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.containerhf video {
  border-radius: 5px;
  box-shadow: none;
   width: 100%; 
  display: flex;
  padding-left: -200px;
}
.containerhf2 {
  width: 100%;
  border-radius: 5px;
  margin-left: 50%;
  /* height: 100vh; */
  right: 0px;
  margin-top: -500px;
  padding: 50px;
  background-color: #33330d;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.containerhf2 video {
  width: 600px;
  border-radius: 5px; 
  box-shadow: none;
  /* width: 100%; */
  display: flex;
 margin-left: 100px;
}
.container video {
  width: 100%;
  height: auto;
}
#text-portifolio {
  DISPLAY: NONE;
  color: #ffffff;
}
.images-site {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.images-identidadevisual video {
  width: 100%;
  display: block;
}

.images-identidadevisual {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}


  .cotacao:hover {
    background-color: #ffffff;
    color: #3cc7fa;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
    transform: none;
  } @media screen and (max-width: 2000px) {
    #marginright100{
      margin-right: 100px;
    }
    .trafego-pago-container {
      display: flex;
      border: navajowhite;
      padding: 80px 21px 0px 50px;
      padding-right: 50px;
      background-color: #fff0;
      width: 100%;
      color: #fff;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
    .trafego-pago-left img {
      max-width: 100%;
      height: auto;
      border-radius: 8px;
    }.trafego-pago-icons-text .trafego-pago-icon-text {
      display: block;
      margin-bottom: 10px;
    }
    .trafego-pago-left {
      flex: 2;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
.trafego-pago-right {
  flex: 2;
  padding-left: 20px;
 
}
#araras{
  display: flex;
}
    
      
    
  }
  @media screen and (max-width: 900px){
    .image-container {
      display: inline;
      justify-content: center;
      width: 100%;padding: 50px;
  }.trafego-pago-icons-text .trafego-pago-icon-text {
    display: block;
    font-size: 13px;
    margin-bottom: 10px;
  }.trafego-pago-left {
    flex: 2;
    display: flex;
    justify-content:flex-start;
    align-items: center;
  }
  
  #marginright100{
    margin-right: 0px;
  }
    
  #araras{
    display: none;
  }
  .trafego-pago-left img {
    width: 300px;
    padding-top: 20px;
    height: auto;
    border-radius: 8px;
  }
  .work-item {
    flex: 1;
    margin: 0px 5px 0px 0px;
    text-align: center;
}
.half-width {
  height: 110vh;
  width: 100%;
  padding: 20px;
}
.trafego-pago-container {
  display: ruby;
  border: navajowhite;
  padding: 0px;
  padding-top: 90px;
  font-size: 13px;
  background-color: #fff0;
  width: 100%;
  color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.trafego-pago-right {
  flex: 2;
  width: 320px;
  padding-left: 0px;
}
  .text-left {
    display: flex;
    color: #fff;
    font-size: 10px;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 0px;
}
.containerwork .item {
  position: relative;
  margin: 5px;
  padding: 30px;
}
  .image-container img {
    width: 100%;
    padding-top: 20px;
    margin: 0px;
    height: 350px;
    object-fit: cover;
}
.containerwork {
  display: inline;
  justify-content: center;
}
.containerhf{
  display: none;
}
.containerhf2{
  display: none;
}
  .filter-btn {
    background-color: #fff;
    border: none;
    color: #0f1013;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 50px;
    font-size: 10px;
    transition: background-color 0.3s ease;
}}

.trafego-pago-icons-text {
  display: flex;
  flex-direction: column;
}

.trafego-pago-item {
  display: flex;
  font-size: 20px;
  align-items: center;
  margin-bottom: 8px; /* Espaçamento entre as linhas */
}
.aligntrafego{
  display: flex;
}

.icon-image {
  width: auto;
  height:40px;
  margin-bottom: 15px;
  margin-right: 8px;
}


.trafego-pago-container h1{
  color: #3cc7fa;
}

.trafego-pago-icons-text {
  margin-top: 20px;
}

.trafego-pago-icons-text .trafego-pago-icon {
  margin-right: 10px;
}

